body {
    margin: 0 auto;
    background-color: rgb(208, 235, 178);
}
#main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-div > h1, h2{
    text-align: center;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s linear;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    opacity: 0;
}

#form > div {
    width: 100%;
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2vh 0;
}

#form > button {
    background-color: rgb(79, 119, 61);
    border: none;
    height: 100px;
    width: 50%;
    margin: 2vw 0;
    align-self: center;
    color: white;
    font-size: 1.2rem;
}

@media screen and (min-width: 756px) {
    #names-div {
        display: flex;
        flex-direction: row !important;
    
    } 
}

.text-input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh .5vw;
}

.text-input-div > input {
    width: 100%;
    background-color: rgb(208, 235, 178);
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
}

.text-input-div > input:focus {
    outline: none;
    background-color: rgb(208, 235, 178);
}

#radio-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#radio-div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1074px) {
    #radio-div > div {
        flex-direction: column;
    }
}

.radio-input-div {
    display: flex;
    margin: 0 1.2vw;

}

#select-div > * {
    text-align: center;
}

.form-data {
    transition: all 1s linear;
}