body {
    margin: 0 auto;
    background-color: rgb(208, 235, 178);
    font-family: 'Coda', cursive;

}

#main-div {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2{
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: .3vw;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s linear;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    opacity: 0;
}

#form > div {
    width: 100%;
    max-width: 65vw;
    display: flex;
    align-items: center;
    margin: 1.2vh 0;
}

#form > button {
    font-family: 'Coda', cursive;
    background-color: rgb(79, 119, 61);
    border: none;
    height: 100px;
    width: 50%;
    margin: 2vw 0;
    align-self: center;
    color: white;
    font-size: 1.2rem;
}

#names-div {
    flex-direction: column;
} 

@media screen and (min-width: 881px) {
    #names-div {
        flex-direction: row;
    } 
}

.text-input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh .5vw;
}

.text-input-div > input {
    width: 100%;
    background-color: rgb(208, 235, 178);
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
}

.text-input-div > input:focus {
    outline: none;
    background-color: rgb(208, 235, 178);
}

#radio-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#radio-div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-input-list {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 881px) {
    #radio-div > div, .radio-input-list {
        flex-direction: column;
    }
}

.radio-input-div {
    display: flex;
    margin: 0 1.2vw;
}

@media screen and (max-width: 881px) {
    .radio-input-div {
        margin: 1vw 0;
    }
}



.select-selected {
    background-color: rgb(79, 119, 61);
}

#custom-select-div {
    flex-direction: column;
}

#custom-select-div > * {
    margin: 1rem 0;
}

.select-div {
    position: relative;
}

.select-div > select {
    display: none;
}

/* style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* flips arrow: */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: .5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: rgb(79, 119, 61);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.post-submit-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s linear;
}

.form-data {
    width: 80%;
    background-color: rgba(255,255,255,.8);
    padding: 2rem;
}

.form-data > p {
    margin: 2rem 0;
    border-bottom: 1px solid black;
}

.form-data-tuple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-top: 1rem;
}


.form-data-tuple > p:nth-child(1) {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    border-bottom: none;

}

.form-data-tuple > p:nth-child(2) {
    font-size: 1.2rem;
    

}

@media screen and (max-width: 756px){
    .form-data-tuple {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid grey;
        margin-top: 1rem;
    }
    .form-data-tuple > p:nth-child(1) {
        border-bottom: 1px solid grey;
 
    }
}